
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;



/* active-navs */
.active-nav-link
{
    @apply flex items-center gap-x-1 uppercase text-sm font-semibold relative   transition-all duration-500
    after:w-full after:h-[2px] after:bg-primary after:absolute after:-top-1 after:right-0 after:origin-right after:scale-x-0 hover:after:scale-x-100 after:transition-transform after:duration-500
    after:ease-in-out  hover:after:origin-left
    before:w-full before:h-[2px] before:bg-primary before:absolute before:-bottom-1 before:left-0 before:origin-left  before:transition-transform before:duration-500
    before:ease-in-out before:scale-x-0 hover:before:scale-x-100 hover:before:origin-right
}

.active-nav
{
    @apply flex items-center gap-x-1 uppercase text-sm font-semibold relative  transition-all duration-500
    after:w-full after:h-[2px] after:bg-primary after:absolute after:-top-1 after:right-0 after:origin-right after:scale-x-100 after:transition-transform after:duration-500
    after:ease-in-out  hover:after:origin-left 
    before:w-full before:h-[2px] before:bg-primary before:absolute before:-bottom-1 before:left-0 before:origin-left  before:transition-transform before:duration-500
    before:ease-in-out before:scale-x-100 hover:before:origin-right
}


.dots-container {
    @apply{
        flex items-center justify-center h-full w-full mb-1
    }

  }
  
  .dot {
    height: 12px;
    width: 12px;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #fff;
    animation: pulse 1.5s infinite ease-in-out;
  }
  
  .dot:last-child {
    margin-right: 0;
  }
  
  .dot:nth-child(1) {
    animation-delay: -0.3s;
  }
  
  .dot:nth-child(2) {
    animation-delay: -0.1s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.1s;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(0.8);
      background-color: #b3d4fc;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  
    50% {
      transform: scale(1.2);
      background-color: #4b79e4;
      box-shadow: 0 0 0 10px rgba(178, 212, 252, 0);
    }
  
    100% {
      transform: scale(0.8);
      background-color: #2584f8;
      box-shadow: 0 0 0 0 rgba(178, 212, 252, 0.7);
    }
  }